APP_ENV=development
PORT=8080
CONFIG_YAML_PATH=config/config.development.yaml
FINNHUB_API_KEY=d6jbnvpr01ql467j4d0gd6jbnvpr01ql467j4d10
PRIVATE_KEY_PATH=config/keys/private.pem
PUBLIC_KEY_PATH=config/keys/public.pem